# Secrets (DO NOT COMMIT)
.env
**/.env
.env.*

# Dependencies
node_modules/
**/node_modules/

# Vite cache
.vite/
**/.vite/

# Builds
dist/
build/
**/dist/
**/build/

# Logs
*.log

# Editor/OS
.vscode/
.idea/
.DS_Store